<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.url">jdbc:sqlserver://localhost\MSI:1433;databaseName=QLDSV;</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">123456</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">200</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
          <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

    
        <mapping class="model.Role"/>
        <mapping class="model.TaiKhoan"/>
        <mapping class="model.GiangVien"/>
        <mapping class="model.SinhVien"/>
        <mapping class="model.NguoiQT"/>
        <mapping class="model.Lop"/>
        <mapping class="model.MonHoc"/>
        <mapping class="model.KhoaHoc"/>
        <mapping class="model.HocKi"/>
        <mapping class="model.CT_LopTinChi"/>
        <mapping class="model.SV_HocLopTinChi"/>
    </session-factory>
</hibernate-configuration> 
